
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}


.navbar-brand{
  font-weight: bold;
  font-size:1.3 rem;
 
}


.active__class{
color:rgb(113, 113, 184);
font-size: 1.4rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#head1{
  color: rgb(45, 45, 173);
}

#header{
  margin: 0 0 10px 0;
  font-size:48px;
  font-weight:700;
  color: black;
}
.header-img{
  text-align: right;

}
.anomated{
  animation:up-down 2s ease-in-out infinite alternate-reverse both;
}

// @-webkit-keyframes up-down{
//   0%{
//     transform: translate(10px);
//   }
//   100%{
//     transform: translate(-10px);
//   }
// }

// @-webkit-keyframes up-down{
//   0%{
//     transform: translate(10px);
//   }
//   100%{
//     transform: translate(-10px);
//   }
// }

.navbar{
  background-color: white ;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

  color: black;
  text-align: center;
}